@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
/* general */
:root{
    --orange-color:orange;
    --black-color:#404040;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cairo;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
}
.arrow-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 50%;
}
.arrow-top a{ 
    text-decoration: none;
    color: var(--orange-color);
}
/*  */
.title{
    color:#404040;
}
.navbar{
    padding: 20px 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 999;
}
.navbar-logo{
    cursor: pointer;
}
.navbar-logo .mosmm-img-parent{
    width: 90px;
    margin-top: 10px !important;
}
.navbar-logo .mosmm-img-parent img{
    width: 100%;
}
.navbar-logo .dokkan-img-parent{
    width: 70px;
}
.navbar-logo .dokkan-img-parent img{
    width: 100%;
}
.navbar-options{
    font-size: 18px;
}
.navbar-options a{
    transition: all 0.5s;
}
.navbar-options a:hover{
    color: var(--orange-color);
}
.navbar .login-btn{
    background: var(--orange-color);
    font-size: 16px;
    color: white ;
    border: none;
    padding: 3px 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.4s;
}
.navbar .login-btn:hover{
    background-color: rgb(255, 132, 0);
}
.navbar .register-btn{
    background:#F5F5F5;
    font-size: 16px;
    color: black ;
    border: none;
    padding: 3px 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.4s;
}
.navbar .register-btn:hover{
    background-color: var(--orange-color);
    color: white;
}
.navbar .active{
    color: var(--orange-color) !important;
}
.language-icon{
    color: orange;
    transition: all 0.5s;
    border-radius: 50px;
}
.navbar .navbar-btns select{
    cursor: pointer;
}
/* theme box */
.theme-checkbox {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5em;
    height: 1.7em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #2a2a2a 50%, orange 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
  }
  
  .theme-checkbox::before {
    content: "";
    width: 0.9em;
    height: 0.9em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, orange 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
  
.theme-checkbox:checked::before {
    left: calc(100% - 1em - 0.438em);
    background-position: 0;
}
  
.theme-checkbox:checked {
    background-position: 100%;
}
body.night{
    background-color: #0c1d32;
    color: #efefef;
}
#navbar.night{
    background-color:  #0c1d32 !important;
}
#navbarSupportedContent.night a{
    color: white !important;
}
#navbarSupportedContent.night .active{
    color: var(--orange-color) !important;
}
#navbarSupportedContent.night a:hover{
    color: var(--orange-color) !important;
}
#language-selector:focus-visible{
    outline: none;
}
@media (max-width: 900px) {
    .navbar-options{
        gap:15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width: 750px) {
    nav .navbar-btns{
        margin-top: 10px;
        display: flex;
        justify-content: start;
    }
    .navbar-btns .register-btn{
        font-size: 14px;
    }
    .navbar-btns .login-btn{
        font-size: 14px;
    }
}
/* Home */
.Home{
    min-height: 110vh;
    width: 100%;
    padding-top: 100px;
}
.Home .container{
    padding: 20px;
}
.Home h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}
.Home h1 #arabDesigner{
    color: var(--orange-color) !important;
}
.Home p{
    font-size: 20px;
}
.Home .search {
    background-color: #F5F5F5;
}
.Home .search input{
    background-color: white;
}
.Home .search i{
    background-color: var(--orange-color);
    cursor: pointer;
}


/* darkmode */
#home.night h1{
    color: #efefef !important;
}
#home.night .search{
    background-color: #142D4C !important;
}
#home.night input{
    background-color: #0c1d32 !important;
}
#home.night input::placeholder{
    color: #efefef !important;
}
@media (max-width: 750px) {
    .Home h1{
        margin-top: 50px !important;
    }
}
/* Topics */
.topics{
    min-height: 100vh;
}
.topics .img-parent{
    width: 450px;
}
.topics .img-parent img{
    width: 100%;
}
.topics .topic-content .dokan-span{
    color: var(--orange-color);
    font-weight: bold;
}
.topics .topic-right h3{
    text-align: end;
}
@media (max-width: 900px) {
    .topics .img-parent{
        width: 300px;
}}
@media (max-width: 750px) {
    .topics .topic-2{
        flex-direction: column-reverse;
    }
}
/* Services */
.services{
    padding-top: 30px;
}
.services .card-img-parent{
    width: 150px;
    margin: auto;
}
.services .card-img-parent img{
    width: 100%;
}
.services .inner-price h1{
    font-size: 56px;
}
.services .card{
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    border: none;
}
    /* night */
#services.night .title{
    color: #efefef !important;
}
#services.night .card{
    background-color: #0c1d32 !important;
    color: #efefef !important;
}    
/* supported sites */
.supported .title h1{
    color: #404040;
}
.supported .content-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color:white !important;
}
.supported .content-header .contents {
    cursor: pointer;
}
.supported .content-header .contents i{
    cursor: pointer;
    transition: all 0.5s;
}
.supported .content-header .contents:hover i {
    transform: scale(1.2);
}
/* .supported .content-header .contents i{
    color: red;
}
.supported .content-header .left{
    border-bottom: solid 5px red;
} */
.supported .content-price{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.supported .content-price{
    border-radius: 5px;
    background-color: #efefef !important;
    /* box-shadow: 1px 10px 10px 10px rgba(0, 0, 0, 0.1); */
}
.supported .card .img-parent{
    width: 80px;
}
.supported .card img{
    width: 100%;
    border-radius: 5px;
}
.supported .card .abled{
    border: none;
    background-color: #31C48D;
    padding:0px 20px;
    font-size: 17px;
    margin-top: 10px;
    color: white;
}
.supported .card .disabled{
    border: none;
    background-color: #F05252;
    padding:0px 20px;
    font-size: 17px;
    margin-top: 10px;
    color: white;
}


/* night */
#supported.night h1{
    color: #efefef !important;
}
#supported.night .parent-con {
    color: #efefef !important;
}
#supported.night  .ineer-container{
    background-color: #142D4C !important;
}
#supported.night button{
    background-color: var(--orange-color) !important;
    color: white;
}
#supported.night .content-price{
    background-color: #142D4C !important;
}
#supported.night .card{
    background-color: #0c1d32 !important;
    color: #efefef !important;
}
@media (max-width: 750px) {
    .supported .content-price .row{
        display: flex;
    }
    .supported .content-price .col-md-3{
        width: 50% !important;
    }
}
/* reg-now */
.register-now{
    min-height: 50vh;
    padding: 30px;
    background-color: #F5F5F5;
}
.register-now button{
    background:var(--orange-color);
    font-size: 16px;
    color: white ;
    border: none;
    padding: 5px 40px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.4s;
}
.register-now button:hover{
    background-color: rgb(255, 132, 0);
}
/* night */
#reg-now.night {
    background-color: #173659 !important;
}
#reg-now.night h2{
    color: #efefef !important;
}
@media (max-width: 750px) {
    .register-now .register-now-btn{
        padding-bottom: 30px;
    }
}
/* footer */
footer{
    min-height: 45vh;
    background-color: #142D4C;
}
footer .row .col-logo{
    width: 400px;
}
footer .row .col-img{
    width: 300px;
}
footer .logo .mosmm-img-parent{
    width: 75px;
    margin-top: 10px !important;
}
footer .logo .mosmm-img-parent img{
    width: 100%;
}
footer .logo .dokkan-img-parent{
    width: 70px;
}
footer .logo .dokkan-img-parent img{
    width: 100%;
}
footer .card-payment .img-parent img{
    width: 100%;
}
footer .row .col-copyright{
    width: 400px;
}
footer .row .col-img{
    width: 300px;
}
footer .col-social .img-parent{
    width: 30px;
    transition: all 0.5s;
    padding: 1px;
}
footer .col-social .img-parent:hover{
    border: 2px solid var(--orange-color);
    border-radius:50% ;
    
}
footer .col-social .img-parent img{
    width: 100%;
    cursor: pointer;
}
/* footer .col-copyright .copyright-content span span{
    color: var(--orange-color);
} */
footer .copyright-span{
    color: #efefef !important;
}
/* night */
#footer.night{
    background-color: #0c1d32 !important;
    color: #efefef !important;
}
@media (max-width: 750px) {
    footer .row-one{
        flex-direction: column-reverse;
    }
    footer .col-img{
        margin-top: 30px;
    }
    footer .col-social{
        padding-top:20px;
        margin: auto;
        text-align: center;
    }
    footer .col-copyright{
        padding-top:30px ;
        text-align: center;
    }
    footer .copyright-content{
        display: flex;
        justify-content: center;
    }
}

/* popularQuestions */
.popularQuestion{
    min-height: 140vh;
    padding-top: 120px;
    padding-bottom: 50px;
}
.popularQuestion h1 {
    color: black !important;
}
.popularQuestion  p{
    color: black !important;
}
.popularQuestion .card-parent{
    width: 70%;
    background-color: white !important;
    border-radius: 5px;
    /* border: 2px solid #e0e0e0; */
    /* padding: 10px; */
}
.popularQuestion .card-parent.opened{
    border: 2px solid var(--orange-color) !important;
}
.popularQuestion .card-parent.opened .arrow-icon i{
    background-color: var(--orange-color) !important;
    color: white !important;
}
.popularQuestion .card-parent .card-inner h4{
    color: black ;
    font-weight: 650;
}
.popularQuestion .card-parent .card-inner p{ 
    color: rgb(136, 131, 131) !important;
    display: none;
    padding-top: 5px;

    /* font-weight: lighter; */
}
.popularQuestion .card-parent .arrow-icon {
    margin-left: 30px !important
}
.popularQuestion .card-parent .arrow-icon i{
    cursor: pointer;
    transition: all 0.5s;
    background-color: white;
    padding: 15px;
    color:var(--orange-color);
    border-radius: 50%;
}
.card-parent .arrow-icon #popularQuestions_icon_up{
    display: none;
}
.questionmark-img .questionmark-img-parent{
   width: 100px; 
}
.questionmark-img .questionmark-img-parent img{
    width: 100%; 
}
 /*night  */
.popularQuestion.night h1 {
    color: #efefef !important;
}
.popularQuestion.night  p{
    color: #efefef !important;
}
.popularQuestion.night .name{
    color: var(--orange-color) !important;
}
.popularQuestion.night .card-parent{
    background-color: #142D4C !important;
}
.popularQuestion.night .card-parent .card-inner h4{ 
    color: #efefef !important;
}
.popularQuestion.night .card-parent .card-inner p { 
    color: #efefef !important;
}
/* contact */
.contact{
    min-height: 90vh;
    padding-top: 120px;
    padding-bottom: 50px;
    /* background-color: red; */
}
.mail-img .mail-img-parent{
    width: 200px; 
}
.mail-img .mail-img-parent img{
     width: 100%; 
}
.contact .card-parent{
    width: 50%;
} 
.contact .card-parent input{
    border: 2px solid var(--orange-color);
    border-radius: 10px !important;
}
.contact .card-parent textarea{
    border: 2px solid var(--orange-color);
}
.contact .send-btn{
    background:#173659  !important;
    font-size: 17px;
    color: white;
    border: none;
    padding: 5px 80px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.4s;
}
.contact .send-btn:hover{
    background-color: var(--orange-color) !important;
}

/* .contact .card-parent input:focus{
    outline: none;
    border: none;
} */
 /* night */
.contact.night h1{
    color: white !important;
}
.contact.night p{
    color: white !important;
}
.contact.night .input-name h4{
    color: white !important;
}
.contact.night .card-parent input{
    color: white !important;
}
.contact.night .form-control{
    background-color: #0c1d32 !important;
}
.contact .send-btn{
    background:var(--orange-color);
    font-size: 17px;
    color: white;
    border: none;
    padding: 5px 80px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.4s;
}
.contact .send-btn:hover{
    background-color: #173659;
}
@media (max-width: 750px) {
    .contact .card-parent{
        width: 100%;
    } 
}
